$bodyFont: sfProTextRegular;
$titleFont: sfProTextMedium;

@font-face {
    font-family: sfProTextRegular;
    src: url(/assets/fonts/SFProTextRegular.ttf);
}

@font-face {
    font-family: sfProTextMedium;
    src: url(/assets/fonts/SFProTextMedium.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-y: hidden;
}

#app {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: row;
    align-items: center;
    background: #E5DDD5;
    font-family: $bodyFont;
    .leftBigContainer {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 30%;
        width: 100%;
        height: 100%;
        .addNewContact {
            width: 30%;
            height: 100%;
            flex-basis: 30%;
            position: absolute;
            left: -100vh;
            background: white;
            transition: all .3s ease;
            z-index: 100;
            .topPanelContainer {
                width: 100%;
                height: 108px;
                background: #07BFA5;
                display: flex;
                align-items: flex-end;
                padding-bottom: 18px;
                padding: 0 0 15px 25px;
                .goBackContainer {
                    margin-bottom: 1px;
                    cursor: pointer;
                }
                .addNewContactText {
                    color: white;
                    font-size: 19px;
                    font-family: $titleFont;
                    margin-left: 28px;
                }
            }
            .contactNameContainer {
                width: 100%;
                height: 93px;
                padding: 14px 30px 10px;
                border-bottom: 1px solid #F0F0F0;
                background: white;
                .contactName {
                    font-size: 14px;
                    color: #049688;
                }
                .inputContactName {
                    font-size: 17px;
                    border: none;
                    outline: none;
                }
            }
            .infoContactText {
                height: 40px;
                font-size: 14px;
                color: #828282;
                margin: 4px 20px 28px 30px;
            }
            .contactNumberContainer {
                width: 100%;
                height: 93px;
                padding: 14px 30px 10px;
                border-bottom: 1px solid #F0F0F0;
                background: white;
                .contactNumber {
                    font-size: 14px;
                    color: #049688;
                }
                .inputContactNumber {
                    font-size: 17px;
                    border: none;
                    outline: none;
                }
            }
        }
        .topBarLeft {
            width: 100%;
            height: 59px;
            background: #EDEDED;
            padding: 10px 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            .tbLeftContainer {
                width: 100%;
                height: 59px;
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                justify-content: space-between;
                .profileContainer {
                    height: 40px;
                    display: flex;
                    flex-grow: 1;
                    align-items: center;
                    .profile {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        cursor: pointer;
                    }
                }
                .leftRightIcons {
                    height: 40px;
                    display: flex;
                    flex-flow: row wrap;
                    align-items: center;
                    .statusContainer {
                        width: 40px;
                        height: 40px;
                        padding: 8px;
                        cursor: pointer;
                        &:active {
                            background: #D5D5D5;
                            border-radius: 50%;
                        }
                    }
                    .newChatContainer {
                        width: 40px;
                        height: 40px;
                        margin: 0 0 0 10px;
                        padding: 8px;
                        cursor: pointer;
                        &:active {
                            background: #D5D5D5;
                            border-radius: 50%;
                        }
                    }
                    .leftMore {
                        width: 40px;
                        height: 40px;
                        margin: 0 0 0 10px;
                        padding: 8px;
                        cursor: pointer;
                        &:active {
                            background: #D5D5D5;
                            border-radius: 50%;
                        }
                    }
                    .leftMoreOpen {
                        position: absolute;
                        width: 12%;
                        height: 33%;
                        top: 55px;
                        left: 16.5%;
                        padding: 9px 0;
                        background: white;
                        border-radius: 3px;
                        box-shadow: 0 2px 5px 0 rgba(black,.26),0 2px 10px 0 rgba(black,.16);
                        font-size: 14.2px;
                        font-family: $bodyFont;
                        transform-origin: right top;
                        transform: scale(0);
                        opacity: 0;
                        transition: all .3s ease;
                        .leftMoreOpenContainer {
                            width: 100%;
                            display: flex;
                            flex-flow: column;
                            .newContact {
                                padding: 6px 58px 7px 24px;
                                cursor: pointer;
                                &:hover {
                                    background: #F5F5F5;
                                }
                            }
                            .newGroup {
                                padding: 6px 58px 7px 24px;
                                cursor: pointer;
                                &:hover {
                                    background: #F5F5F5;
                                }
                            }
                            .editProfile {
                                padding: 6px 58px 7px 24px;
                                cursor: pointer;
                                &:hover {
                                    background: #F5F5F5;
                                }
                            }
                            .logOut {
                                padding: 6px 58px 7px 24px;
                                cursor: pointer;
                                &:hover {
                                    background: #F5F5F5;
                                }
                            }
                        }
                    }
                }
            }
        }
        .searchBarContainer {
            width: 100%;
            height: 49px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
            background: #F6F6F6;
            border-bottom: 1px solid rgba($color: #919191, $alpha: 0.2);
            .searchIcon {
                width: 24px;
                height: 24px;
                left: 24px;
                position: absolute;
                cursor: pointer;
            }
            .searchBarText {
                font-size: 13.5px;
                position: absolute;
                left: 77px;
                color: #919191;
                cursor: text;
            }
            .searchBar {
                width: 95%;
                height: 35px;
                padding: 0 32px 0 65px;
                background: white;
                border-radius: 100px;
                border: none;
                outline: none;
                font-size: 13.5px;
            }
        }
        .inboxChat {
            width: 100%;
            height: calc(100% - 108px);
            background: white;
            .inboxChat1 {
                width: 100%;
                height: 72px;
                background: white;
                display: flex;
                cursor: pointer;
                &:hover {
                    background: #F5F5F5;
                }
                .profileInboxContainer {
                    width: 77px;
                    height: 72px;
                    padding: 0 15px 0 13px;
                    display: flex;
                    align-items: center;
                    .profileInbox {
                        width: 49px;
                        height: 49px;
                        border-radius: 50%;
                        cursor: pointer;
                    }
                }
                .inboxInfoContainer {
                    height: 72px;
                    padding: 0 15px 0 0;
                    margin-right: 6px;
                    display: flex;
                    justify-content: center;
                    flex-flow: column;
                    flex-grow: 1;
                    border-bottom: 1px solid rgba($color: #919191, $alpha: 0.2);
                    .detailsContainer {
                        display: flex;
                        flex-flow: row wrap;
                        .namePersonChat {
                            font-size: 16px;
                            color: black;
                            flex-grow: 1;
                            font-family: $titleFont;
                            cursor: pointer;
                        }
                        .messageTime {
                            font-size: 12px;
                            color: #878787;
                            font-family: $titleFont;
                            cursor: pointer;
                        }
                    }
                    .chatContainer {
                        display: flex;
                        flex-flow: row nowrap;
                        .chatStatus{
                            width: 18px;
                            height: 18px;
                            margin-right: 2px;
                        }
                        .chatPreview {
                            font-size: 14px;
                            color: #6F6F6F;
                            font-family: $titleFont;
                            cursor: pointer;
                        }
                    }
                }
            }
            
        }
    }
    .rightBigContainer {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 70%;
        width: 100%;
        height: 100%;
    }
}
